# --- Core Framework ---
flask==3.1.2

# --- MySQL Connector berbasis Python murni (tanpa libmysql native) ---
flask-mysql-connector==2.5.2

# --- Opsional (debugging, keamanan, REST API) ---
python-dotenv==1.0.1       # untuk simpan config .env
flask-cors==4.0.1          # kalau nanti akses API dari front-end (mis. React / HTML)
requests==2.32.3           # kalau nanti ESP32 kirim data via HTTP POST
